### Lists

In [6]:
#create Lists
empty = []
letters = ['a','b','c']
numbers = [1,2,4]
mixed = [1, 'a',True,None]
print(empty)
print(type(empty))
print(letters)
print(numbers)
print(mixed)

[]
<class 'list'>
['a', 'b', 'c']
[1, 2, 4]
[1, 'a', True, None]

In [8]:
empty = list()
print(empty)

letters = list('python')
print(letters)

numbers = list(range(5))
print(numbers)

[]
['p', 'y', 't', 'h', 'o', 'n']
[0, 1, 2, 3, 4]

In [9]:
# Nested List
matrix = [['a','b','c'],
          ['d','e','f']]

mixed_matrix = [['a','b'],
                [1,2,4],
                [True]]
print(matrix)
print(mixed_matrix)

[['a', 'b', 'c'], ['d', 'e', 'f']]
[['a', 'b'], [1, 2, 4], [True]]

In [3]:
lst = ['a','b','c','d']
lst[0]
lst[-1]
lst[3]

'd'

In [10]:
# Access & Read
matrix = [
    ['a', 'b', 'c'],   # Row 0
    ['d', 'e', 'f'],   # Row 1
    ['g', 'h', 'i']    # Row 2
]
print(matrix[0][1])
print(matrix[-1][0])
print(matrix[:][:-1])
print(matrix[2][:2])

b
g
[['a', 'b', 'c'], ['d', 'e', 'f']]
['g', 'h']

#### Unpacking

In [14]:
person = ['maria', 29 , 'Data Engineer', 'Spain']

name , age , role , country = person

print(role)

Data Engineer

In [13]:
person = ['maria', 29 , 'Data Engineer', 'Spain']

name , *details, country = person

print(details)

[29, 'Data Engineer']

In [18]:
person = ['maria', 29 , 'Data Engineer', 'Spain']

name , age , _ , country = person

print(_)

Data Engineer

In [22]:
person1 = ['maria', 29 , 'Data Engineer', 'Spain']

a ,  *_ , b = person1

print(a)
print(b)

maria
Spain

In [23]:
## Analyze List

numbers = [1,5,3,6,2]
print("Max : ", max(numbers))
print("Min : ", min(numbers))
print("sum : ", sum(numbers))
print("Len : ", len(numbers))

Max :  6
Min :  1
sum :  17
Len :  5

### How to Add, Remove, and update Lists in Python

In [25]:
letters=['a','b','c']
letters.append('x')
letters.append('y')
print(letters)

['a', 'b', 'c', 'x', 'y']

In [28]:
letters=['a','b','c']
letters.insert(2,'d')
letters.insert(1,'x')
print(letters)

['a', 'x', 'b', 'd', 'c']

In [34]:
matrix = [
    ['a', 'b', 'c'],   # Row 0
    ['d', 'e', 'f'],   # Row 1
    ['g', 'h', 'i']    # Row 2
]
matrix.append(['x','y','z'])
matrix.insert(0,[1,2,3])
matrix[0].append(4)
matrix[1].insert(1,'u')
print(matrix)

[[1, 2, 3, 4], ['a', 'u', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['x', 'y', 'z']]

In [35]:
letters.clear()
print(letters)

[]

In [36]:
letters=['a','b','a']
letters.remove('a')
print(letters)

['b', 'a']

In [40]:
letters=['a','b','c']
rm = letters.pop(1)
print(rm)

b

In [47]:
matrix = [
    ['a', 'b', 'c'],   # Row 0
    ['d', 'e', 'f'],   # Row 1
    ['g', 'h', 'i']    # Row 2
]

#matrix.remove(['a','b','c'])
#matrix.pop()
matrix[1].remove('e')
matrix[-1].pop(1)
matrix[0].pop(2)
print(matrix)

[['a', 'b'], ['d', 'f'], ['g', 'i']]

In [50]:
letters=['a','b','c']
letters[0] = 'x'
print(letters)
letters='z'

['x', 'b', 'c']

In [51]:
matrix = [
    ['a', 'b', 'c'],   # Row 0
    ['d', 'e', 'f'],   # Row 1
    ['g', 'h', 'i']    # Row 2
]
matrix[2][1]='K'
print(matrix)

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'K', 'i']]

#### Sorting

In [54]:
letters = ['c','a','b']
letters.sort()
letters.sort(reverse=True)
print(letters)

['c', 'b', 'a']

In [59]:
matrix = [
    ['d', 'e', 'f'],
    ['a', 'b', 'c'],   # Row 1
    ['g', 'h', 'i']    # Row 2
]
matrix.sort()
print(matrix)

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

In [60]:
letters = ['c','a','b']
new_l1=letters.sort()
print(f"Original list : {letters}")
print(f"Sorted List : {new_l1}")

Original list : ['a', 'b', 'c']
Sorted List : None

In [ ]:
letters = ['c','a','b']
new_l1=sorted(letters, reverse=True)
print(f"Original list : {letters}")
print(f"Sorted List : {new_l1}")

Original list : ['c', 'a', 'b']
Sorted List : ['c', 'b', 'a']

In [67]:
letters = ['c','a','b']
#letters.reverse()
new = list(reversed(letters))
print(f"original : {letters}")
print(f"New : {new}")

original : ['c', 'a', 'b']
New : ['b', 'a', 'c']

### Copy a list

In [ ]:
# reference
# Create a copy of the list in a new variable
letters = ['a','b','c']
letters_copy = letters
letters.pop()
letters_copy.append('z')
print(f"original list : {letters_copy}")
print(f"copy : {letters_copy}")

original list : ['a', 'b', 'z']
copy : ['a', 'b', 'z']

In [80]:
#shallow copy
# Create a copy of the list in a new variable
letters1 = ['a','b','c']
letters_copy1 = letters1.copy()
letters1.pop()
letters_copy1.append('z')
print(f"original list : {letters1}")
print(f"copy : {letters_copy1}")

original list : ['a', 'b']
copy : ['a', 'b', 'c', 'z']

In [82]:
matrix = [
    ['d', 'e'],
    ['a', 'b',],   # Row 1
]
matrix_copy = matrix.copy()
matrix.pop()
matrix_copy[0].append('z')
print('original : ',matrix)
print('copy : ',matrix_copy)

original :  [['d', 'e', 'z']]
copy :  [['d', 'e', 'z'], ['a', 'b']]

In [86]:
import copy
matrix1 = [
    ['d', 'e'],
    ['a', 'b',],   # Row 1
]

matrix_copy12 = copy.deepcopy(matrix1)
matrix1.pop()
matrix_copy12[0].append('z')
print('Original : ',matrix1)
print('copy : ',matrix_copy12)

Original :  [['d', 'e']]
copy :  [['d', 'e', 'z'], ['a', 'b']]

In [90]:
#IS OPERATOR

original = [
    ['a','b'],
    ['c','d'],
]

#Assignment
copy1 = original
print("Same object?", original is copy1, "\n")

#Shallow copy
copy2 = original.copy()
print("same object?", original is copy2)
print("Shared lists?", original[0] is copy2[0], "\n")

# Deep Copy
copy3 = copy.deepcopy(original)
print("same object?", original is copy3)
print("Shared Lists?", original[0] is copy3[0], "\n")

Same object? True

same object? False
Shared lists? True

same object? False
Shared Lists? False

In [91]:
#Combining
letters = ['a','b','c']
numbers = [1,2,3]
comb = letters + numbers
print(comb)
print(letters * 2)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 'a', 'b', 'c']

In [93]:
numbers.extend(letters)
print(numbers)

[1, 2, 3, 'a', 'b', 'c', 'a', 'b', 'c']

In [98]:
#zip
comb = list(zip(letters,numbers,'hi'))
print(comb)

[('a', 1, 'h'), ('b', 2, 'i')]

In [99]:
#Iterables
#Store the captalized list into a new list
letters = ['a','b','c']
new_list = []
for l in letters:
    new_list.append(l.upper())
    print(new_list)

['A']
['A', 'B']
['A', 'B', 'C']

In [102]:
print(list(enumerate(letters, start = 1)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [103]:
for index, value in enumerate(letters):
    print(index, value)

0 a
1 b
2 c

In [106]:
for l in reversed(letters):
    print(l)

c
b
a

In [108]:
numbers = [1,2,3]
for l,n in zip(letters,numbers):
    print(l,n)

a 1
b 2
c 3

In [113]:
#map

letters = ['a','b','c']
print(list(map(str.upper,letters)))

numbers = ['1','2','3']
print(list(map(int,numbers)))

names = ['  Maria ','Jhon  ',' Kumar ']
print(list(map(str.strip,names)))

['A', 'B', 'C']
[1, 2, 3]
['Maria', 'Jhon', 'Kumar']

In [114]:
#map in for loop
for n in map(str.strip,names):
    print(n)

Maria
Jhon
Kumar

In [116]:
#filter
letters = ['a','','b',None,'c',False]
print(list(filter(bool,letters)))

['a', 'b', 'c']

In [117]:
items = ['sql','123','python','42']
#print(list(filter(str.isalpha, items)))
for i in filter(str.isalpha, items):
    print(i)

sql
python

In [120]:
# lambda
multiple = lambda x: x*2
print(multiple(5))

addl = lambda x,y:x+y
print(addl(5,6))

check = lambda i: i in 'python'
print(check('z'))

10
11
False

In [131]:
#lambda + map

price = ['$12.50','$9.99','$100.00']
#p='$9.99'
#float(p.replace('$',''))

print(list(map(lambda p:float(p.replace('$','')),price)))

[12.5, 9.99, 100.0]

In [134]:
#lambda + filter

prices = [120,40,500,23,540,546,23]

print(list(filter(lambda p:p >= 100,prices)))

[120, 500, 540, 546]

In [ ]:
#lambda + filter

students = [
    ['Maria', 85],
    ['Kumar', 90],
    ['Max', 60]
]

print(list(filter(lambda row:row[1] > 70,students)))

[['Maria', 85], ['Kumar', 90]]

In [151]:
print(list(filter(lambda x:x[0].lower().startswith('k'),students)))

[['Kumar', 90]]

In [158]:
#lambda + sort
print(list(sorted(students, key=lambda x:x[1], reverse=True)))

[['Kumar', 90], ['Maria', 85], ['Max', 60]]

In [160]:
domains = [
    'www.google.com',
    'openai.com',
    'localhost',
    'WWW.DATAWITHBARAA.COM'
]

cleaned = [
    d.lower().replace('www.','')
    for d in domains
    if '.' in d
]

print(cleaned)

['google.com', 'openai.com', 'datawithbaraa.com']