### Lists

In [6]:
#create Lists
empty = []
letters = ['a','b','c']
numbers = [1,2,4]
mixed = [1, 'a',True,None]
print(empty)
print(type(empty))
print(letters)
print(numbers)
print(mixed)

[]
<class 'list'>
['a', 'b', 'c']
[1, 2, 4]
[1, 'a', True, None]

In [8]:
empty = list()
print(empty)

letters = list('python')
print(letters)

numbers = list(range(5))
print(numbers)

[]
['p', 'y', 't', 'h', 'o', 'n']
[0, 1, 2, 3, 4]

In [9]:
# Nested List
matrix = [['a','b','c'],
          ['d','e','f']]

mixed_matrix = [['a','b'],
                [1,2,4],
                [True]]
print(matrix)
print(mixed_matrix)

[['a', 'b', 'c'], ['d', 'e', 'f']]
[['a', 'b'], [1, 2, 4], [True]]

In [3]:
lst = ['a','b','c','d']
lst[0]
lst[-1]
lst[3]

'd'

In [10]:
# Access & Read
matrix = [
    ['a', 'b', 'c'],   # Row 0
    ['d', 'e', 'f'],   # Row 1
    ['g', 'h', 'i']    # Row 2
]
print(matrix[0][1])
print(matrix[-1][0])
print(matrix[:][:-1])
print(matrix[2][:2])

b
g
[['a', 'b', 'c'], ['d', 'e', 'f']]
['g', 'h']

#### Unpacking

In [14]:
person = ['maria', 29 , 'Data Engineer', 'Spain']

name , age , role , country = person

print(role)

Data Engineer

In [13]:
person = ['maria', 29 , 'Data Engineer', 'Spain']

name , *details, country = person

print(details)

[29, 'Data Engineer']

In [18]:
person = ['maria', 29 , 'Data Engineer', 'Spain']

name , age , _ , country = person

print(_)

Data Engineer

In [22]:
person1 = ['maria', 29 , 'Data Engineer', 'Spain']

a ,  *_ , b = person1

print(a)
print(b)

maria
Spain

In [23]:
## Analyze List

numbers = [1,5,3,6,2]
print("Max : ", max(numbers))
print("Min : ", min(numbers))
print("sum : ", sum(numbers))
print("Len : ", len(numbers))

Max :  6
Min :  1
sum :  17
Len :  5