In [11]:
#Print
print("""\tYour Learning Path:
\t-Python Basics
\t-Data Engineering
\t-AI""")

	Your Learning Path:
	-Python Basics
	-Data Engineering
	-AI

In [ ]:
#Variable
name = "Kun"
language = "Python 3.12"
domain = "datawithkun"

print(f"My Name is {name}")
print(f"{name} is learning {language}")
print(f"{name} want to become {language} expert")

print(f"info@{domain}.com")
print(f"support@{domain}.com")
print(f"www.{domain}.com")

My Name is Kun
Kun is learning Python 3.12
Kun want to become Python 3.12 expert
info@datawithkun.com

In [16]:
#Input
nm = input("Enter your Name : ")
country = input("Enter your Country : ")
print(f"{nm} is comming from {country}")

k is comming from kl

In [24]:
# DataTypes
number = 1000
print(type(number))

print(len(language))
print(language.upper())
print(number.bit_length())

<class 'str'>
11
PYTHON 3.12
10

In [26]:
age = 25
height = 166.27
name = nm
Areyouastudent=True
Somethingwithnovalueyet=None

print(age,height,name,Areyouastudent,Somethingwithnovalueyet)
print(type(height))
print(len(nm))

25 166.27 k True None
<class 'float'>
1

Python String Functions

In [31]:
#Convert the messy phone number into a clean number format with only digits
ph_nbr = "+49 (176) 123-4567"
print(ph_nbr.replace('+','').replace(' ','').replace('(','').replace(')','').replace('-',''))

491761234567

In [38]:
#Indexes & Slicing 
text = "Python"

#extract the first character
print(text[0])
print(text[-6])

#extract the last character
print(text[5])
print(text[-1])

#extract H
print(text[3])
print(text[-3])

P
P
n
n
h
h

In [47]:
date = "2026-09-20"

#extract the year
print(date[0:4])
print(date[:4])
#extract the month
print(date[5:7])
#extract the day
print(date[8:10])
print(date[8:])
print(date[-2:])

2026
2026
09
20
20
20

In [54]:
#Whitespace cleanup
text = " kl "
print(text.lstrip())
print(text.rstrip())
print(text.strip())

kl
 kl
kl

In [55]:
text = "####ABC####".strip('#')
print(text)

ABC

In [57]:
text = "   Engineering"
print(len(text))
print(len(text.strip()))

nr_of_spaces = len(text) - len(text.strip())
is_clean = len(text) == len(text.strip())
print("Nr of spaces: ", nr_of_spaces)
print("Is my data clean? ", is_clean)

14
11
Nr of spaces:  3
Is my data clean?  False

In [70]:
txt = "968-Maria, ( D@t@ Engineer );; 27y "
name = txt[4:9]
role = txt[13:26].replace('@','a')
age = txt[-4:-1]

print(f"Name: {name} | Role: {role} | Age: {age}")

Name: Maria | Role: Data Engineer | Age: 27y

In [105]:
#Generate a random integer between 1 and 100, and check if the result is an even number 
import random as rand
num = rand.randint(1,100)
print(f" The number is : {num} \n The number is Even : {num % 2 == 0}")

 The number is : 87
 The number is Even : False

In [107]:
# Allow access only if the user is logged in or they are guest but they must not be banned
is_logged_in = True
is_guest = False
is_banned = False

print((is_logged_in or is_guest)and not is_banned)

True

In [125]:
# Check if a user's name is not empty and the age is greater than or equal to 18
user_name = input("Enter Name: ")
age = int(input("Enter age : "))

print(user_name.strip()!="" and age >= 18)

True

In [126]:
#Check if the password is at least 8 characters long and does not contain spaces
password = input("Enter password : ")
print(len(password) >= 8 and " " not in password)

False

In [127]:
# Check if a user's email is not empty, contains '@', and ends with '.com' 
email = input('Enter email : ')
print(email != "" and "@" in email and email.endswith('.com'))

True

In [130]:
# Check if a username is a string, is not None, and is longer than 5 characters
user_name = input("Enter Name: ")
print(isinstance(user_name,str) and user_name != "" and len(user_name)>5)

True

In [131]:
#Check if the user is either an admin or a moderator, and either they're not banned or they've verified their email
is_admin = input("Admin Enter True/False: ").lower()=="true"
is_moderator = input("Moderator Enter True/False: ").lower()=="true"
is_banned = input("banned Enter True/False: ").lower()=="true"
is_verified = input("verified Enter True/False: ").lower()=="True"

print((is_admin or is_moderator) and (is_banned or is_verified))

False

In [132]:
# Validate that the domanin isnot on the banned list
domain = "gmail.com"
banned_domain = ["spam.com", "fake.org", "bot.net"]
domain not in banned_domain

True

In [133]:
# Make sure the email exists, and it's not empty
email = None
print(email is not None and email != "")

False

IF COND

In [143]:
score = int(input("Enter Score : "))
submitted_project = True
if score >= 90 and submitted_project:
    print("A+")
elif score >= 90:
    print("A")
elif score >=80:
    print("B")
elif score >= 70 or submitted_project:
    print("C")
else:
    print("F")

C

In [144]:
score = int(input("Enter Score : "))
submitted_project = True

if score >= 90:
    print("High Score")
else:
    print("Low Score")

if submitted_project:
    print("Project is submitted")
else:
    print("Project is not submitted")

Low Score
Project is submitted

Validate the quality and correctness of email values:
- Must not be empty
- Must contain '.' and '@'
- Must contain exactly one '@' symbol
- Must end with '.com', '.org', or '.net'
- Must not be longer than 254 characters
- Must start and end with a letter or digit

In [160]:
email = input("Enter you email : ")
valid = True
if email.strip() == "":
    print("Email is empty")
    valid=False
if not('.' in email and '@' in email):
    print("Email must contain '.' and '@' ")
    valid=False
if email.count('@') != 1:
    print("Email must contain exactly one '@' ")
    valid=False
if not email.endswith(('.com' or '.org' or '.net')):
    print("Email Must end with '.com', '.org', or '.net' ")
    valid=False
if len(email) > 254:
    print("Email Must not be longer than 254 characters")
    valid=False
if not (email[0].isalnum() and email[-1].isalnum()):
    print("Email Must start and end with a letter or digit ")
    valid=False
if valid:
    print("Email is valid")

Email must contain exactly one '@'
Email Must end with '.com', '.org', or '.net'
Email Must start and end with a letter or digit

Validate the quality and correctness of passwords:
- Must not be empty
- Must be at least 8 characters
- Must include at least 1 uppercase
- Must include at least 1 lowercase
- Must not be same as the email
- Must not contain any spaces
- Must start and end with a letter or digit

In [176]:
password = input("Enter your password : ")
email = "kl.kl.com"
valid = True
if password.strip()=="":
    print("password is empty")
    valid = False
if len(password) < 8:
    print("Password Must be at least 8 characters")
    valid = False
if password == password.lower():
    print("Password Must include at least 1 uppercase")
    valid = False
if password == password.upper():
    print("Password Must include at least 1 lowercase")
    valid = False
if password==email:
    print("Password Must not be same as the email")
    valid = False
if " " in password:
    print("Password must not contain spaces")
    valid = False
if not (password[0].isalnum() and password[-1].isalnum()):
    print("Password Must start and end with a letter or digit ")
    valid=False
if valid:
    print("password is valid")

password is valid

Username Rules

Your program should check all of the following:

Username must not be empty

Username must be between 6 and 15 characters

Username must contain at least 1 lowercase letter

Username must contain at least 1 digit

Username must not start with a digit

Username must not contain spaces

Username must not be the same as the word "admin"

Username must end with a letter

In [198]:
admin = input("Enter admin: ")
username = input("Enter Username : ")

valid = True
if username.strip()=="":
    print("Username must not be empty")
    valid=False
if len(username) <6 and len(username) > 15:
    print("Username must be between 6 and 15 characters")
    valid=False
if username.isalpha() ==1:
    print("Username must contain at least 1 digit")
    valid=False
if username[0].isdigit():
    print("Username must not start with a digit")
    valid=False
if " " in username:
    print("Username must not contain spaces")
    valid=False
if username==admin:
    print(f"Username must not be the same as the word {admin} ")
    valid=False 
if not username[-1].isalpha():
    print("Username must end with a letter")
    valid = False
if valid:
    print("valid")

Username must not start with a digit
Username must not contain spaces

In [201]:
#Inline IF 
score = 100

'A' if score>=90 else 'D'

'A'

In [206]:
#Match Case
country = "Bharath"

match country:
    case "United States" | "US":
        print("US")
    case "India" | "Bharath":
        print("IND")
    case "Germany":
        print("DE")
    case _:
        print("Unknown")

IND

In [209]:
# For Loops
items = (1,2,3,4,5)
for item in items :
    print(f"Round : {item}")

Round : 1
Round : 2
Round : 3
Round : 4
Round : 5

In [212]:
# For Loops in sequence
items = [1,2,3,4,5]
for item in items :
    print(f"Round : {item}")

Round : 1
Round : 2
Round : 3
Round : 4
Round : 5

In [213]:
# For Loops in string
items = 'Python'
for item in items :
    print(f"Round : {item}")

Round : P
Round : y
Round : t
Round : h
Round : o
Round : n

In [219]:
# For Loops in Range

for item in range(1,23,2) :
    print(f"Round : {item}")

Round : 1
Round : 3
Round : 5
Round : 7
Round : 9
Round : 11
Round : 13
Round : 15
Round : 17
Round : 19
Round : 21

In [220]:
scores = [80,90,110,130]
total = 0
for score in scores:
    total += score
    print("Current Total:",total)
print("Final Total:",total)

Current Total: 80
Current Total: 170
Current Total: 280
Current Total: 410
Final Total: 410

In [223]:
files = [' Report.csv','  DATA.csv ' ,'fINAL.txt ', '  kl.json ']
for file in files:
    file=(file.strip()).lower().replace('.csv','.json')
    print(f"Processing : {file}")

Processing : report.json
Processing : data.json
Processing : final.txt
Processing : kl.json

In [232]:
# Print the 7-times table from 1 to 10 using a for loop
for i in range(11):
    print(f"7 * {i*1} = {7*i}")

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [240]:
# Print a left-aligned pyramid of star with 6 rows using a for loop
for i in range(7):
    print("*" * i)

*
**
***
****
*****
******

In [246]:
# Print a right-aligned pyramid of star with 6 rows using a for loop
for i in range(7):
    print("  "* (6-i)+ "*" * i)

          *
        **
      ***
    ****
  *****
******

In [249]:
# loops BREAK
names = ['jhon', 'maria', '', 'kumar']
for name in names:
    if name == '':
        print("Empty value detected")
        break
    print(f"Name : {name}")

Name : jhon
Name : maria
Empty value detected

In [251]:
# loops CONTINUE
names = ['jhon','maria','','kumar']
for name in names:
    if name == '':
        print("Empty Value detected")
        continue
    print(f"Name : {name}")

Name : jhon
Name : maria
Empty Value detected
Name : kumar

In [254]:
# loops PASS
names = ['jhon','maria','','kumar']
for name in names:
    if name == '':
        pass #todo : Handle empty value
        name = name.replace('','unkown')
    print(f"Name : {name}")

Name : jhon
Name : maria
Name : unkown
Name : kumar

# Task 
## Loop through a list of days and print only the working days, skipping the weekends

In [264]:
days = ['Mon','Tue','Wed','Thur','Fri','Sat','Sun']
weekends = ['Sat','Sun']
for day in days:
    if day in weekends:
        continue
    print(f'Workday : {day}')

Workday : Mon
Workday : Tue
Workday : Wed
Workday : Thur
Workday : Fri

### Scan emails to block unsafe data from entering your system

In [267]:
emails = [
    'data@gmail.com','baraa@gmail.com','DROP TBALE USERS;','maria@gmail.com'
]
for email in emails:
    if ';' in email:
        print('sql Injection : Hacker Attack')
        break
    print(f"Processing Emails: {email}")

Processing Emails: data@gmail.com
Processing Emails: baraa@gmail.com
sql Injection : Hacker Attack

#### For_Else Loops

In [269]:
items = [1,2,4,7]
for item in items:
    print(item)
else:
    print("Loop is ended")

1
2
4
7
Loop is ended

In [275]:
# Find out if there are even numbers
items = [1,3,5,7]
for item in items:
    if item % 2 == 0:
        print(f" Even number : {item}")
        break
else:
    print(f"Rest numbers are odd : {item}")

Rest numbers are odd : 7

In [285]:
# Check for missing Names in a list

names = ['Kamara', 'Tuba', None, 'Mounika']

for name in names:
    if name is None:
        print(f"Found a missing Name : {name}")
        break
else:
    print(f"All names are avaiable : {names}")

Found a missing Name : None

In [288]:
# check if All files are CSV Files

files = ['text.csv','nio.csv','lio.txt','gio.csv']

for file in files:
    #if '.csv' not in file:  [OR]
    if not file.endswith('.csv'):
        print(f"File is not csv : {file}")
        break
else:
    print(f"All files are CSV : {files}")

File is not csv : lio.txt

In [291]:
## Check whether any filename appears more than once
### Print "Duplicate Found" if a duplicate exists, otherwise print "All files are unique"

file_list = ['report.csv','data.xlsx','summary.docx','report.csv','data.csv']
seen = []

for file in file_list:
    if file in seen:
        print(f"Duplicate found : {file}")
        break
    seen.append(file)
else:
    print(f"No Duplicates found : {file_list}")

Duplicate found : report.csv

In [292]:
## Inner and outer loops

for x in (1,2,3):
    for y in (1,2):
        print(x,y)

1 1
1 2
2 1
2 2
3 1
3 2

In [294]:
# Nested loops

for x in range(3): #outter loop
    for y in range(2): #inner loop
        for z in range(2):
            print(f"({x},{y},{z})")

(0,0,0)
(0,0,1)
(0,1,0)
(0,1,1)
(1,0,0)
(1,0,1)
(1,1,0)
(1,1,1)
(2,0,0)
(2,0,1)
(2,1,0)
(2,1,1)

In [296]:
colors = ['red','blue','green']
sizes = ['L','M','S']
for color in colors:
    for size in sizes:
        print(f"{color} - size {size}")

red - size L
red - size M
red - size S
blue - size L
blue - size M
blue - size S
green - size L
green - size M
green - size S

In [299]:
years = [2026,2027]
months = ['Jan','Feb']
days = range(1,29)

for year in years:
    for month in months:
        for day in days:
            print(f"report_{year}/{month}/{day}.csv")

report_2026/Jan/1.csv
report_2026/Jan/2.csv
report_2026/Jan/3.csv
report_2026/Jan/4.csv
report_2026/Jan/5.csv
report_2026/Jan/6.csv
report_2026/Jan/7.csv
report_2026/Jan/8.csv
report_2026/Jan/9.csv
report_2026/Jan/10.csv
report_2026/Jan/11.csv
report_2026/Jan/12.csv
report_2026/Jan/13.csv
report_2026/Jan/14.csv
report_2026/Jan/15.csv
report_2026/Jan/16.csv
report_2026/Jan/17.csv
report_2026/Jan/18.csv
report_2026/Jan/19.csv
report_2026/Jan/20.csv
report_2026/Jan/21.csv
report_2026/Jan/22.csv
report_2026/Jan/23.csv
report_2026/Jan/24.csv
report_2026/Jan/25.csv
report_2026/Jan/26.csv
report_2026/Jan/27.csv
report_2026/Jan/28.csv
report_2026/Feb/1.csv
report_2026/Feb/2.csv
report_2026/Feb/3.csv
report_2026/Feb/4.csv
report_2026/Feb/5.csv
report_2026/Feb/6.csv
report_2026/Feb/7.csv
report_2026/Feb/8.csv
report_2026/Feb/9.csv
report_2026/Feb/10.csv
report_2026/Feb/11.csv
report_2026/Feb/12.csv
report_2026/Feb/13.csv
report_2026/Feb/14.csv
report_2026/Feb/15.csv
report_2026/Feb/16.csv
report_2026/Feb/17.csv
report_2026/Feb/18.csv
report_2026/Feb/19.csv
report_2026/Feb/20.csv
report_2026/Feb/21.csv
report_2026/Feb/22.csv
report_2026/Feb/23.csv
report_2026/Feb/24.csv
report_2026/Feb/25.csv
report_2026/Feb/26.csv
report_2026/Feb/27.csv
report_2026/Feb/28.csv
report_2027/Jan/1.csv
report_2027/Jan/2.csv
report_2027/Jan/3.csv
report_2027/Jan/4.csv
report_2027/Jan/5.csv
report_2027/Jan/6.csv
report_2027/Jan/7.csv
report_2027/Jan/8.csv
report_2027/Jan/9.csv
report_2027/Jan/10.csv
report_2027/Jan/11.csv
report_2027/Jan/12.csv
report_2027/Jan/13.csv
report_2027/Jan/14.csv
report_2027/Jan/15.csv
report_2027/Jan/16.csv
report_2027/Jan/17.csv
report_2027/Jan/18.csv
report_2027/Jan/19.csv
report_2027/Jan/20.csv
report_2027/Jan/21.csv
report_2027/Jan/22.csv
report_2027/Jan/23.csv
report_2027/Jan/24.csv
report_2027/Jan/25.csv
report_2027/Jan/26.csv
report_2027/Jan/27.csv
report_2027/Jan/28.csv
report_2027/Feb/1.csv
report_2027/Feb/2.csv
report_2027/Feb/3.csv
report_2027/Feb/4.csv
report_2027/Feb/5.csv
report_2027/Feb/6.csv
report_2027/Feb/7.csv
report_2027/Feb/8.csv
report_2027/Feb/9.csv
report_2027/Feb/10.csv
report_2027/Feb/11.csv
report_2027/Feb/12.csv
report_2027/Feb/13.csv
report_2027/Feb/14.csv
report_2027/Feb/15.csv
report_2027/Feb/16.csv
report_2027/Feb/17.csv
report_2027/Feb/18.csv
report_2027/Feb/19.csv
report_2027/Feb/20.csv
report_2027/Feb/21.csv
report_2027/Feb/22.csv
report_2027/Feb/23.csv
report_2027/Feb/24.csv
report_2027/Feb/25.csv
report_2027/Feb/26.csv
report_2027/Feb/27.csv
report_2027/Feb/28.csv

In [300]:
# SELECT count(*) from tables where col is NULL; You need to do that for all the tables are col that are present 
# Doing manually takes time so we use nested loops in python

tables = ['customers','orders','products','prices']
columns = ['id','create_date']
for t in tables:
    for c in columns:
        print(f"SELECT count(*) from {t} where {c} is NULL;")

SELECT count(*) from customers where id is NULL;
SELECT count(*) from customers where create_date is NULL;
SELECT count(*) from orders where id is NULL;
SELECT count(*) from orders where create_date is NULL;
SELECT count(*) from products where id is NULL;
SELECT count(*) from products where create_date is NULL;
SELECT count(*) from prices where id is NULL;
SELECT count(*) from prices where create_date is NULL;

In [304]:
## While Loops
# Build a counter form 1 to 5
i=1
while i <= 5:
    print(i)
    i+=1

1
2
3
4
5

In [308]:
#Write a program that keeps asking "Do you agree?" until the user types "yes"
ans = ""
while ans != "yes":
    ans = input("Do you agree?(yes/no) : ")
print("Thank you!")

Thank you!

In [ ]:
## Infinite While Loop

while True:
    print("I'm Unstoppable")

In [ ]:
#Write a program that keeps asking "Do you agree?" until the user types "yes" with break
ans = ""
while ans != "yes":
    ans = input("Do you agree?(yes/no) : ")
print("Thank you!")

while True:
    ans = input("Do you agree?(yes/no) : ")
    if ans == 'yes':
        break
    print("ThankS!")

Thank you!

In [311]:
# Extend the above code to 
#1. Allow up to 3 attempts
#2. If the user types "yes", print "Glad we are on the same page"
#3. Otherwise, print "3 Strikes, you are out!"

In [312]:
attempts = 0
max_attempts = 3

while attempts < max_attempts:
    ans = input("Do you agree? (yes/no): ").lower()

    if ans == "yes":
        print("Glad we are on the same page")
        break
    attempts += 1
else:
    print("3 strikes, you are out!")

Glad we are on the same page